<!--Text Interpolation-->
<h1>Welcome to Angular Training - {{getName()}}</h1>
<br>
<!--Event Binding-->
<input type="text" (change)="txtChange()" />
<input [id]="textid" [class]="myClasses" type="button" value="Save" (click)="clickSave()" (mouseover)="mouseOverDone()" [disabled]="isDisable"/>
<!--Property Binding-->

<p>{{isDisable}}</p>

<p> 5 + 4 = {{5+4}}</p>

<p>Employee Name : {{employees[0]='Suresh'}}</p>
<ul>
    <li>{{employee.title}}</li>
    <li>{{employee.name}}</li>
    <li>{{employee.salary}}</li>
</ul>
<img src = '{{employee.src}}' height="300px" width="200px" alt='{{employee.alt}}'>
<img [attr.src] = "employee.src" height="300px" width="200px" [attr.alt]="employee.alt">

<!-- Attribute Biding-->
<br>


<app-home></app-home>
<custom-comp3></custom-comp3>