<!--Text Interpolation-->
<h1>Welcome to Angular Training - {{getName()}}</h1>
<!--ngFor-->

<ul>
    <li *ngFor="let employee of employees; index as i; first as f; last as l; even as e; odd as o">
        {{i}} {{employee}} {{f}} {{l}} {{e}} {{o}}
    </li>
</ul>
<table border="1">
    <thead>
        <tr>
            <th>Sl.No</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Address</th>
            <th>Is First</th>
            <th>Is Last</th>
            <th>Is Even</th>
            <th>Is Odd</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employeesList; index as i; first as f; last as l; even as e; odd as o; trackBy:refreshEmployees">
            <td>{{i+1}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.address}}</td>
            <td>{{f}}</td>
            <td>{{l}}</td>
            <td>{{e}}</td>
            <td>{{o}}</td>
        </tr>
    </tbody>
</table>

<button (click)="refresh()">Refresh</button>

<!--ng Switch-->

<div [ngSwitch]="myValue">
    <div *ngSwitchCase="1">
        <p>I am First</p>
    </div>
    <div *ngSwitchCase="2">
        <p>I am Second</p>
    </div>
    <div *ngSwitchCase="3">
        <p>I am Third</p>
    </div>
    <div *ngSwitchDefault>
        <p>I am Default</p>
    </div>
</div>


<!--ng If-->
<div *ngIf="!show && isDisable; then withRecords else noRecords">
   
</div>
<ng-template #withRecords>
    <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
</ng-template>

<ng-template #noRecords>
    <p>No records</p>
</ng-template>


<div [hidden]="!show">
    <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
</div>

<!--Template Reference variable-->
<input type="text" #mytext value="Suresh">

<br>
{{mytext.value}}
<br>
<button [disabled]="!mytext.value">Click</button>



<br>
<!--Event Binding-->
<input type="text" (change)="txtChange()" />
<input [id]="textid" [class]="myClasses" type="button" value="Save" (click)="clickSave()" (mouseover)="mouseOverDone()" [disabled]="isDisable"/>
<!--Property Binding-->

<p>{{isDisable}}</p>

<p> 5 + 4 = {{5+4}}</p>

<p>Employee Name : {{employees[0]='Suresh'}}</p>
<ul>
    <li>{{employee.title}}</li>
    <li>{{employee.name}}</li>
    <li>{{employee.salary}}</li>
</ul>
<img src = '{{employee.src}}' height="300px" width="200px" alt='{{employee.alt}}'>
<img [attr.src] = "employee.src" height="300px" width="200px" [attr.alt]="employee.alt">

<!-- Attribute Biding-->
<br>


<app-home></app-home>
<custom-comp3></custom-comp3>